@media screen and (max-width:1340px) {
    .feature-box {
        width: 200px;
    }
}
@media screen and (max-width:1250px) {
    .about-img {
        width: 380px;
    }
    .about-desc {
        width: 290px;
    }
    .about-yellow{
        transform: translate(-200px , 193px);
    }
    .about-blue{
        transform: translate(200px, -36px);
    }
    .results {
        width: 940px;
    }
    .expert-img {
        width: 590px;
        transform: translate(-77px, 10px);
    }
    .expert-back {
        height: 550px;
        width: 400px;
        transform: translate(-30%, 0%);
    }
    .expert-main {
        padding: 8rem 3rem;
        width: 440px;
        transform: translate(17%, 77%);
    }
}
@media screen and (max-width:1200px) {
    .welcome-img {
        width: 364px;
    }
    .welcome-desc {
        width: 333px;
    }
}
@media screen and (max-width:1150px) {
    .features {
        flex-wrap: wrap;
        margin-bottom: 0rem;
    }
    .feature-box {
        width: 310px;
        margin: 2rem 2rem;
    }
    #features {
        padding: 40rem 0 1rem 0;
    }
}
@media screen and (max-width:1100px) {
    .join-img {
        width: 323px;
    }
}
@media screen and (max-width:1000px) {
    .hero h1{
        font-size: 5rem;
    }
    .about-blue {
        transform: translate(154px, -36px);
    }
    .about-yellow {
        transform: translate(-154px , 193px);
    }
    .about-img {
        width: 320px;
    }
    .results-header {
        padding: 2rem;
        width: auto;
    }
    .results {
        width: auto;
    }
    .results-box {
        width: 42%;
    }
}
@media screen and (max-width:900px) {
    .hero {
        transform: translate(40% , 10%);
        width: 378px;
    }
    #join{
        flex-direction: column;
    }
    .join-desc {
        min-width: 90%;
    }
    .join-right {
        margin-top: 5rem;
        min-width: 90%;
    }
    .feature-box {
        padding: 3rem 2rem;
    }
    .about-main {
       flex-direction: column;
       width: 450px;
    }
    .about-img{
        width: 100%;
        height: 600px;
    }
    .about-desc {
        width: auto;
        padding: 5rem 2rem;
    }
    .about-yellow {
        transform: translate(-155px , 193px);
        width: 200px;
    }
    .about-blue {
        transform: translate(166px, -157px);
        width: 200px;
    }
}
@media screen and (max-width:800px) {
    .hero {
        transform: translate(40% , -25%);

        width: 378px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        text-align: right;
    }
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 2rem;
    }
    #hero {
        height: 60vh;
    }
    .feature-box {
        width: 220px;
    }
    #welcome{
        flex-direction: column;
    }
    .welcome-img{
        margin-top: 5rem;
    }
    .welcome-opaque {
        width: 100%;
        top: 10%;
    }
    .welcome-desc {
        width: 90%;
    }
    .welcome-img {
        width: 90%;
    }
    #expert {
        align-items: flex-start;
    }
    .expert-img {
        width: 450px;
        transform: translate(0%, 15%);
    }
    .expert-back {
        height: 550px;
        width: 305px;
        transform: translate(-15%, 0%);
    }
    .expert-main {
        width: 50%;
        transform: translate(16%, 52%);
    }
}
@media screen and (max-width:750px) {
    .hero {
        width: 50%;
    }
    .about-desc h2 {
        font-size: 3rem;
    }
}
@media screen and (max-width:700px) {
    nav ul {
        width: 100%;
    }
    .hero {
        transform: translate(25% , 10%);
        width: 378px;
    }
    .join-desc {
        width: 90%;
        min-width: auto;
    }
    .join-right {
        width: 90%;
        min-width: auto;
    }
}
@media screen and (max-width:600px) {
    .hero {
        transform: translate(5% , 0%);
        width: 378px;
    }
    #hero {
        background-position: -138px center;
    }
    .feature-box {
        width: 34%;
    }
    .about-main {
        width: 300px;
    }
    .about-blue {
        transform: translate(77px, -157px);
    }
    .about-yellow {
        transform: translate(-77px , 193px);
    }
    .results-header h1 {
        font-size: 3.1rem;
    }
    .results-box {
        width: 38%;
    }
    .expert-main h2 {
        font-size: 3.5rem;
    }
    .expert-img {
        width: 80%;
    }
    .expert-back {
        width: 240px;
        transform: translate(-27%, 0%);
    }
    .expert-main {
        transform: translate(3%, 40%);
    }
}
@media screen and (max-width:500px) {
    .hero h1 {
        font-size: 3rem;
    }
    .btn {
        padding: 1.3rem 3rem;
    }
    .hero h1 {
        margin: 1rem 0 0rem 0;
    }
    .join-right h2 {
        font-size: 2rem;
    }
    .join-desc h2{
        font-size: 2.4rem;
    }
    .feature-box {
        width: 80%;
        margin: 2rem 0rem;
    }
    #features {
        padding: 4rem 0 4rem 0;
    }
    .welcome-desc-img {
        height: 360px;
    }
    .results-box {
        width: 85%;
    }
    .expert-main {
        width: 200px;
        padding: 4rem 2rem;
        transform: translate(13%, 32%);
    }
    .expert-img {
        width: 320px;
    }
    .expert-back {
        transform: translate(-2%, 0%);
    }
}
@media screen and (max-width:450px) {
    #hero {
        background-position: -198px center;
    }
    .hero {
        transform: translate(74px , -140px);
        width: 185px;
    }
    .welcome-desc-main h2 {
        font-size: 3rem;
    }
    .results-header h1 {
        font-size: 2.7rem;
    }
    .results-box {
        width: auto;
        margin: 2rem 2rem;
    }
}
@media screen and (max-width:350px) {
    #hero {
        background-position: -231px center;
    }
    .hero {
        transform: translate(50px , -140px);
    }
    .about-main {
        width: 240px;
        height: 720px;

    }
    .about-blue {
        transform: translate(40px, -157px);
    }
    .about-yellow {
        transform: translate(-40px , 193px);
    }
    .expert-main {
        transform: translate(0%, 32%);
    }
    .expert-back {
        transform: translate(-7%, 0%);
    }
    .expert-img {
        width: 270px;
        transform: translate(-1%, 15%);
    }
}