@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Kumbh+Sans:wght@100;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Macondo+Swash+Caps&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Roboto:wght@100;300;400;500;700;900&family=Satisfy&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    scroll-behavior: smooth;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 1.6rem;
    line-height: 2.5rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    padding: 0 6rem;
}
.logo img{
    width: 70px;
}
nav ul{
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #3e3e3e;
    position: fixed;
    top: 8rem;
    left: -100%;
    width: 500px;
    height: 100%;
    transition: all .2s ease-in-out;
}
nav.active ul{
    left: 0;
}
.close{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 6rem;
    width: 6rem;
    position: relative;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 2rem;
}
.close-bar{
    width: 3.1rem;
    height: .3rem;
    background-color: #fff;
    position: absolute;
}
.close-bar:first-child{
    transform: rotate(45deg);
}
.close-bar:last-child{
    transform: rotate(-45deg);
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 6rem;
    height: 6rem;
    position: relative;
    cursor: pointer;
}
.hambar{
    position: absolute;
    width: 3.1rem;
    height: .4rem;
    background-color: #3e3e3e;
}
.hambar:nth-child(1){
    top: 1.8rem;
}
.hambar:nth-child(2){
    color: #3e3e3e;
}
.hambar:nth-child(3){
    bottom: 1.8rem;
}
nav ul li {
    margin: 2rem 0;
}
nav ul li a{
    font-size: 1.6rem;
    color: #fff;
    transition: all .3s ease;
    border-bottom: 2px solid transparent;
}
nav ul li a:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 1rem;
}
/* Hero */
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    height: 70vh;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/b3ff8bb45b6c5a88b3297421/cvmin.jpg);
    background-position: center;
    background-size: cover;
}
.hero{
    transform: translate(40% , 10%);
    width: 500px;
}
.hero h2{
    font-weight: 300;
    font-size: 2.5rem;
}
.hero h1{
    font-weight: 900;
    font-size: 6rem;
    margin: 1rem 0 4rem 0;
}
.btn{
    padding: 2rem 4rem;
    border: 3px solid #000;
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
    position: relative;
    margin-top: 3rem;
    z-index: 2;
    transition: all .5s ease;
}
.btn-yellow{
    padding: 1.5rem 3rem;
    border: 3px solid #ebdf25;
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
    position: relative;
    margin-top: 3rem;
    z-index: 2;
    transition: all .5s ease;
}
.btn:hover{
    color: #fff;
}
.btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #000;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .4s ease;
}
.btn:hover::after{
    width: 100%;
}
.btn-yello{
    padding: 2rem 4rem;
    border: 3px solid #ebdf25;
    font-size: 1.7rem;
    font-weight: 500;
    color: #000;
    position: relative;
    z-index: 2;
    transition: all .5s ease;
}
.btn-yellow:hover{
    color: #3e3e3e;
}
.btn-yellow::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: #ebdf25 ;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .4s ease;
}
.btn-yellow:hover::after{
    width: 100%;
}
/* Join */
#join{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 1rem;
}
.join-desc{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 0 2rem;
    width: 500px;
    min-width: 300px;
}
.join-desc p{
    margin: 2rem 0;
    line-height: 3rem;
    font-weight: 600;
}
.join-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem ;
    width: 600px;
    min-width: 400px;
}
.join-right h2{
    font-size: 2.5rem;
    line-height: 4rem;
}
.join-img {
    width: 400px;
}
.join-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Features */
#features{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/f7131b40fdc458eea55184fb/24354s-min1.jpg);
    background-position: center;
    background-size: cover;
    padding: 50rem 0 2rem 0;
}
.features{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.feature-box{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #2344a1;
    padding: 5rem 2rem;
    width: 240px;
    margin: 0 2rem;
}
.feature-box:nth-child(2){
    background-color: #ebdf25;
}
.feature-box:nth-child(2) h4 , .feature-box:nth-child(2) p , .feature-box:nth-child(2) a{
    color: #000;
}
.feature-box:nth-child(2) a{
    border-bottom: 1px solid #000000;
}
.feature-box:nth-child(2) a:hover{
    border-bottom: 1px solid #0000004d;
}
.feature-box:nth-child(3){
    background-color: #292d33;
}
.feature-box:nth-child(4){
    background-color: #ff4f00;
}
.feature-box h4{
    font-size: 2rem;
    letter-spacing: 2px;
    color: #fff;
}
.feature-box p{
    margin: 2rem 0;
    color: #fff;
}
.feature-box a{
    font-size: 1.6rem;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.feature-box a:hover{
    border-bottom: 1px solid #ffffff96;
}
/* Welcome */
#welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 7rem 0;
}
.welcome-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    margin: 0 4rem;
}
.welcome-desc-main h2{
    font-size: 4rem;
}
.welcome-desc-main p{
    margin: 2rem 0;
    margin-bottom: 3rem;
}
.welcome-desc-img{
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/7e8ec792536e5738a48d8c9e/low-angle-building-city_23-2148814160.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 480px;
    margin-bottom: 3rem;
}
.welcome-img{
    width: 550px;
}
.welcome-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.welcome-opaque{
    position: absolute;
    width: 120%;
    height: 250px;
    background-color: #ebdf25;
    z-index: -1;
}
/* About */
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 0;
    background-color: #f9f9f9;
    position: relative;
    z-index: 2;
}
.about-yellow{
    position: absolute;
    width: 500px;
    height: 170px;
    background-color: #ebdf25;
    transform: translate(-300px , 193px);
    z-index: -1;
}
.about-blue{
    position: absolute;
    width: 500px;
    height: 245px;
    background-color: #2344a1;
    transform: translate(300px, -36px);
    z-index: -1;
}
.about-main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: #fff;
}
.about-img{
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d4c9042ce5dd5267b06016d2/dfgggg-min.jpg);
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 100%;
}
.about-desc {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 0 3rem;
    text-align: left;
}
.about-desc h2{
    font-size: 4rem;
}
.about-desc p{
    margin: 2rem 0;
}
.about-desc a{
    margin-top: 2rem;
}
/* Results */
#results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0;
}
.results-header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    width: 800px;
    margin-bottom: 4rem;
}
.results-header h1{
    font-size: 4rem;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}
.results-box{
    width: 25%;
    padding: 2rem;
    text-align: left;
    margin-top: 2rem;
}
.results-box:nth-child(1){
    background-color: #2344a1;
    color: #fff;
}
.results-box:nth-child(3){
    background-color: #ff4f00;
    color: #fff;
}
.results-box:nth-child(5){
    background-color: #ebdf25;
}
.results-box p{
    font-size: 1.7rem;
    font-weight: 500;
}
/* Expert */
#expert{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
    background-color: #efefef;
    position: relative;
    height: 1150px;
    z-index: 2;
}
.expert-img{
    width: 800px;
    position: absolute;
    transform: translate(-77px, 10px);
}
.expert-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert-main{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    background-color: #fff;
    padding: 8rem 3rem;
    width: 500px;
    position: absolute;
    transform: translate(46%, 77%);
}
.expert-back{
    background-color: #ff4f00;
    height: 700px;
    width: 400px;
    position: absolute;
    transform: translate(-60%, 0%);
    z-index: -1;
}
.expert-main h2{
    font-size: 4.5rem;
    font-weight: 500;
}
.expert-main p{
    margin: 2rem 0;
}
.expert-main a{
    margin-top: 1rem;
}
/* Build */
#build{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:7rem 0;
}
.build-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.build-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 600px;
}
.build-box{
    width: 43.3%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem 2rem;
    flex-direction: column;
    height: 300px;
    text-align: left;
    color: #fff;
}
.build-box h3{
    font-size: 2.3rem;
    font-weight: 500;
    margin: 2rem 0;
}
.build-box:nth-child(1){
    background-color: #2344a1;
}
.build-box:nth-child(2){
    background-color: #ebdf25;
    color: #000;
}
.build-box:nth-child(3){
    background-color:#292d33 ;
}
.build-box:nth-child(4){
    background-color: #ff4f00;
}
.build-img{
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/30b3867119b4582e9d914525/O69ANC0-min.jpg);
    background-position: center;
    background-size: cover;
    height: 720px;
    width: 409px;
}
/* Form */
#form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7rem 0;
    background-color: #ebdf25;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding: 0 2rem;
}
.form-top{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 3rem ;
}
.form-top h2{
    font-size: 3.4rem;
    color: #4d4d4d ;
}
.form-top p{
    font-size: 2rem;
    color: #808080 ;
    margin: 2rem 0;
    line-height: 4rem;
}
.form-bot{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}
.form-bot h2{
    font-size: 3.5rem;
    color: #4d4d4d ;
}
.form-bot p{
    font-size: 2rem;
}
.form-social{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
    width:60%;
}
.form-social i {
    background-color: #292d33;
    color: #ebdf25;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}
.form-main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    padding: 0 2.5rem;
}
.form-inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-main h2{
    align-self: flex-start;
    color: #4d4d4d;
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.form-main input , .form-main textarea{
    width: 100%;
    border: none;
}
.form-main input::placeholder , .form-main textarea::placeholder{
    font-size: 1.6rem;
   padding: 0 1rem;
    color: #808080;
}
.form-main textarea::placeholder{
    padding: 1rem 1rem;
}
.form-main input{
    height: 40px;
    margin: 1.3rem 0;
}
.form-main textarea{
    min-width: 100%;
    max-width: 100%;
    height: 100px;
    margin: 1.3rem 0;
}
.input-submit{
    background-color: #2344a1;
    color: #fff;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
}